/*公用*/


.comWidth {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.leftArea {
    float: left;
}

.rightArea {
    float: right;
}

.topBar {
    height: 31px;
    background-color: #f7f7f7;
    line-height: 31px;
}

.collection {
    background: url("../images/icons/home.jpg") left center no-repeat;
    padding-left: 17px;
    background-size: contain;
    font-weight: bold;
}

.topBar a:hover {
    color: red;
}

.logoBar {
    height: 85px;
    background-color: #1D7AD9;
}

.logo img {
    height: 85px;
    vertical-align: bottom;
}

.search_box {
    width: 430px;
    padding-top: 23px;
    padding-left: 135px;
}

.search_text {
    width: 350px;
    height: 35px;
    padding: 0 5px;
}

.search_btn {
    width: 70px;
    height: 35px;
    font-size: 14px;
    font-family: '微软雅黑';
    background-color: #ff8c00;
    color: #fff;
}

.shopCar {
    width: 145px;
    height: 35px;
    background-color: #ff8c00;
    margin-top: 23px;
    font: 14px/35px "微软雅黑";
    color: #fff;
    margin-right: 59px;
    display: inline;
}

.shopText {
    height: 100%;
    width: 87px;
    border-right: #e27a00 solid 1px;
    line-height: 35px;
    background: url("../images/icons/shopcar.png") 8px center no-repeat;
    text-indent: 40px;
}

.shopNum {
    width: 27px;
    height: 35px;
    border-left: #ff9c01 solid 1px;
    background: url("../images/icons/icon.png") 33px center no-repeat;
    background-size: 12px;
    text-align: right;
    padding-right: 29px;
}

.navBox {
    height: 35px;
    background-color: #1369c0;
    color: #fff;
}

.shopClass {
    width: 190px;
    position: relative;
}

.shopClass h3 {
    text-align: center;
    line-height: 35px;
}

.shopClass i {
    width: 11px;
    height: 7px;
    overflow: hidden;
    margin-left: 11px;
    display: inline-block;
    background: url("../images/icons/triangle.png") left center no-repeat;
    background-size: contain;
}

.nav, .shopClass {
    font-family: "微软雅黑";
}

.nav {
    line-height: 35px;
}

.nav li {
    float: left;
}

.nav a {
    height: 35px;
    display: inline-block;
    padding: 0 35px;
    color: #fff;
}

.nav .active {
    background-color: #4593FD;
}

.shopClass_show {
    background-color: #4593FD;
    position: absolute;
    left: 0px;
    top: 35px;
    width: 100%;
    padding-bottom: 1px;
}

.shopClass_item {
    padding: 13px 10px;
    border-bottom: #3487F2 solid 1px;
    border-top: #5aa1fe solid 1px;
    line-height: 16px;
}

.shopClass_item dt {
    height: 21px;
    background: url("../images/icons/triangleRight.png") right center no-repeat;
    background-size: 6px;
    line-height: 1;
    overflow: hidden;
}

.shopClass_item .b {
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: bold;
}

.shopClass_item a {
    color: #ffffff;
}

.shopClass_item .aLink {
    width: 48px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    background: url("../images/icons/button.png") center center no-repeat;
    background-size: contain;
    text-decoration: underline;
}

.banner {
    margin-bottom: 14px;
}

.banner_bar {
    float: right;
    position: relative;
    overflow: hidden;
}

.imgBox {
    position: absolute;
    left: 0;
    top: 0;
}

.imgBox li {
    float: left;
}

.imgBox img {
    display: block;
}

.imgNum {
    position: absolute;
    left: 0px;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.imgNum a {
    width: 20px;
    height: 5px;
    overflow: hidden;
    background-color: #FFF;
    display: inline-block;
    margin: 0 3px;
}

.imgNum .active {
    background-color: #FF7700;
}

.banner_big, .banner_big img {
    width: 810px;
    height: 326px;
}

.banner_big .imgBox {
    width: 1620px;
    height: 326px;
}

.banner_sm, .banner_sm img {
    width: 190px;
    height: 280px;/*400*/
}

.banner_sm .imgBox {
    width: 380px;
    height: 400px;
}

.shopTit {
    height: 44px;
    line-height: 44px;
    font-family: "微软雅黑";
    margin-bottom: 15px;
}

.shopTit h3 {
    font-size: 24px;
    float: left;
    font-weight: normal;
    padding-left: 15px;
}

.icon {
    width: 44px;
    height: 44px;
    background: url("../images/icons/shop.png") left top no-repeat;
    background-size: contain;
    float: left;
}

.more {
    float: right;
    font-family: "宋体";
}

.more:hover {
    text-decoration: underline;
}

.shopList_top, .shopList_sm {
    margin-right: -4px;
}

.shopList {
    margin-bottom: 15px;
}

.shopList .leftArea {
    width: 190px;
}

.shopList .rightArea {
    width: 808px;
    height: 280px;/* 400 */
    border: 1px solid #999;
    border-bottom: 3px solid #ff7201;
    overflow: hidden;
}

.shop_item {
    width: 202px;
    height: 279px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    text-align: center;
    font-family: "微软雅黑";
    float: left;
}

.shop_img {
    height: 218px;
    text-align: center;
}

.shop_img img {
    width: 100%;
    height: 218px;
    display: block;
}

.shop_item h3 {
    font-size: 16px;
}

.shop_item p {
    font-size: 14px;
    color: #ff7300;
    line-height: 21px;
}

.shopItem_sm {
    width: 202px;
    height: 110px;
    border-right: 1px solid #999;
    padding-top: 6px;
    float: left;
}

.shopItem_smImg {
    width: 95px;
    height: 95px;
    float: left;
    text-align: center;
}

.shopItem_smImg img {
    width: 95px;
    height: 95px;
}

.shopItem_text {
    padding-top: 28px;
    width: 96px;
    float: left;
}

.shopItem_text p {
    color: #ff7300;
}

.shopItem_text h3 {
    font-family: "微软雅黑";
    font-size: 16px;
    font-weight: normal;
    color: #181818;
    line-height: 30px;
}

.footer {
    text-align: center;
    background-color: #d4d4d4;
    line-height: 24px;
    padding: 40px 0 25px 0;
}

.footer i {
    font-style: normal;
    margin: 0 5px;
}

.footer a {
    color: #000;
}

.footer a:hover {
    color: #f60;
}

.web {
    padding-top: 30px;
}

.web img {
    width: 130px;
    margin: 0 12px;
}

.hr_45px {
    height: 45px;
}

.hr_7px {
    height: 7px;
    overflow: hidden;
}

.hr_15px {
    height: 15px;
    overflow: hidden;
}

.hr_25px {
    height: 25px;
    overflow: hidden;
}

/*产品分类*/

.proucts .leftArea {
    width: 185px;

}

.proucts .rightArea {
    width: 810px;
}

.proucts .banner_bar {
    float: none;
}

.proucts .item {
    width: 25%;
    margin-bottom: 10px;
}

.leftNav {
    background-color: #f3f3f3;
    border: 1px solid #d7d7d7;
}

.nav_title {
    font-size: 34px;
    line-height: 34px;
    font-size: 14px;
    font-family: "宋体";
    border-bottom: 1px solid #d7d7d7;
    text-align: center;
}

.nav_cont {
    padding: 0 18px 4px;
    border-bottom: 1px dotted #d7d7d7;
    margin-bottom: -1px;
}

.nav_cont h3 {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}

.navCont_list {
    line-height: 25px;
}

.navCont_list li {
    float: left;
    width: 50%;
}

.vertical li {
    width: auto;
    float: none;
    padding-left: 8px;
}

.vertical .nav_title, .vertical .nav_cont {
    font-family: "微软雅黑";
    font-size: 11px;
}

.products_title {
    height: 34px;
    border-bottom: 2px solid #ccc;
}

.products_title h3 {
    width: 180px;
    border-bottom: 2px solid #096dba;
    height: 34px;
    line-height: 34px;
    text-indent: 9px;
}

.item {
    float: left;
    height: 265px;
    position: relative;
}

.img_item {
    height: 170px;
    text-align: center;
}

.item a {
    color: #000;
}

.item a:hover {
    text-decoration: underline;
}

.img_item p {
    line-height: 20px;
}

.img_item img {
    height: 170px;
}

.money {
    color: #D4105A;
    font-weight: bold;
    padding-top: 10px;
}

.item span, .stars {
    width: 13px;
    height: 12px;
    overflow: hidden;
    display: inline-block;
    background: url("../images/icons/starItem.png") left top no-repeat;
    background-size: contain;
    margin-right: 1px;
}

.item_cont {
    padding: 0 15px;
}

.hot {
    width: 50px;
    height: 50px;
    background: url("../images/icons/hot.png") left top no-repeat;
    background-size: contain;
    position: absolute;
    right: 10px;
    top: 10px;
}

/*筛选*/

.screening {
    border-bottom: 1px solid #ccc;
}

.screening dt {
    line-height: 32px;
    width: 74px;
    text-align: right;
    float: left;
    color: #999999;
    margin-right: 42px;
}

.screening dd a {
    color: #1d7ad9;
}

.limit {
    width: 55px;
    float: left;
    line-height: 32px;
}

.screening .active {
    background-color: #1D7AD9;
    color: #fff;
}

.screening a {
    padding: 2px;
}

.screening_list {
    line-height: 20px;
    padding-top: 6px;
    padding-bottom: 5px;
    width: 626px;
    float: left;
}

.screening_list li {
    width: 20%;
    float: left;
}

.screen_more {
    border: 1px solid #ccc;
    height: 23px;
    line-height: 23px;
    margin-top: 4px;
    float: left;
    padding-right: 4px;
    padding-left: 4px;
    margin-right: 10px;
}

.screen_more a {
    background: url("../images/icons/triangleDown.png") right center no-repeat;
    padding-right: 14px;
}

.addInfo {
    height: 31px;
    border: 1px solid #CCC;
    background-color: #F5F5F5;
}

.addInfo .select {
    margin-top: 4px;
}

.address {
    float: left;
}

.add_text {
    float: left;
    line-height: 31px;
    padding-left: 12px;
    padding-right: 6px;
}

.addInfo .select {
    margin-top: 4px;
}

.screen_text {
    line-height: 31px;
    padding-right: 80px;
}

.screen_text span {
    vertical-align: middle;
}

.check {
    position: relative;
    top: -1px;
}

.check input, .check label {
    vertical-align: middle;
}

.shop_number em {
    color: #F00;
    font-style: normal;
    font-weight: bold;
}

.addCar {
    border: 1px solid #999;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    padding: 0 6px 0 23px;
    margin-top: 5px;
    background: url("../images/icons/shopBlueCar.png") 6px center no-repeat;
}

.screening_list_more {
    padding-left: 0.5%;
}

.screening_list_more .item {
    width: 33.3%;
}

/*page*/
.page {
    text-align: center;
}

.page a {
    height: 24px;
    display: inline-block;
    line-height: 24px;
    border: 1px solid #CCC;
    padding: 0 12px;
    margin: 0 2px;
}

.page .hl {
    display: inline-block;
    padding: 0 12px;
    margin: 0 2px;
}

.morePages {
    padding-left: 14px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
}

.pageNume {
    width: 29px;
    padding: 0 3px;
    border: 1px solid #CCC;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin-left: 4px;
}

.page_btn {
    width: 44px;
    height: 24px;
    line-height: 24px;
    background-color: #E8E8E8;
    border: 1px solid #CCC;
}

.ye {
    padding: 0 8px 0 6px;
}

/*组件*/
.select {
    border: 1px solid #999;
    height: 22px;
    line-height: 22px;
    float: left;
    background-color: #FFF;
    padding-left: 10px;
    padding-right: 20px;
    position: relative;
    z-index: 4;
}

.select h3 {
    font-size: 12px;
    font-weight: normal;
}

.select span {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20px;
    background: url("../images/icons/blueDown.png") center center no-repeat;
}

.show_select {
    position: absolute;
    left: -1px;
    top: 22px;
    background-color: #FFF;
    width: 100%;
    border: 1px solid #999;
    display: none;
}

.show_select li {
    padding-left: 10px;
}

/*商品介绍*/
.grey {
    background-color: #F0F0F0;
}

.userPosition {
    font-size: 0;
    font-family: Verdana;
    margin-top: 25px;
    margin-bottom: 15px;
}

.userPosition em,
.userPosition strong,
.userPosition a,
.userPosition span {
    font-size: 12px;
}

.userPosition em {
    font-style: normal;
}

.userPosition a:hover {
    text-decoration: underline;
}

.description_info {
    background-color: #FFF;
}

.description {
    border: 1px solid #CCC;
}

.description .leftArea {
    width: 309px;
}

.description .rightArea {
    width: 688px;
    border-left: 1px solid #CCC;
}

/*图片展示*/
.description_info .big {
    height: 340px;
    text-align: center;
}

.description_smimgs {
    padding-left: 1px;
    width: 265px;
    margin: 0 auto;
}

.description_smimgs li {
    float: left;
    margin-left: -1px;
}

.description_smimgs img {
    border: 1px solid #CCC;
}

.description_smimgs .active {
    border-color: #317EE7;
    position: relative;
}

.des_content {
    padding: 10px;
}

.des_content_tit {
    font: bold 16px/22px "微软雅黑";
    padding: 13px 25px;
}

.des_content .dl {
    margin-bottom: 8px;
}

.des_content .dt {
    width: 75px;
    float: left;
    color: #666;
    text-indent: 17px;
    line-height: 25px;
}

.des_money {
    font-size: 18px;
    color: #F30;
    font-family: Verdana;
}

.des_money em {
    font-style: normal;
    font-size: 12px;
}

.hg {
    padding-top: 3px;
    display: inline-block;
}

.hg_icon {
    width: 55px;
    height: 18px;
    display: inline-block;
    background: url("../images/icons/hg_icon.png") left top no-repeat;
    color: #FFF;
    font-style: normal;
    text-indent: 14px;
    line-height: 18px;
    margin-right: 10px;
}

.des_position {
    background-color: #F2F2F2;
    padding: 15px 0;
}

.goodsState {
    line-height: 24px;
    padding-left: 10px;
}

.des_content .colorSelect {
    line-height: 38px;
}

.des_item {
    color: #666;
    padding: 9px 10px;
    border: 1px solid #CCC;
    float: left;
    background-color: #FFF;
    margin-right: 10px;
}

.des_item_active {
    border-color: #317ee7;
    color: #333;
}

.des_item_sm {
    padding: 3px 7px;
    margin-bottom: 8px;
}

.des_content .des_select_more {
    line-height: 53px;
}

.des_number {
    border: 1px solid #B2B2B2;
    height: 27px;
    width: 66px;
    left:-18px;
    float: left;
    position:relative;
}

.des_number div {
    height: 100%;
    float: left;
}

.redction, .plus {
    width: 15px;
    background: url("../images/icons/plus_bg.png") left top no-repeat;
    line-height: 26px;
    text-align: center;
    color: #333;
}

.redction {
    border-right: 1px solid #B2B2B2;
}

.plus {
    border-left: 1px solid #B2B2B2;
}

.des_input {
    width: 30px;
    padding: 0 2px;
}

.des_input input {
    width: 100%;
    height: 100%;
    top:0px;
    text-align: center;
    line-height: 32px;
    position:relative;
}

.xg {
    line-height: 32px;
    float: left;
    font-weight: bold;
    padding-left: 10px;
    color: #656565;
}

.xg em {
    color: #FB7700;
    font-style: normal;
}

.des_content .des_num {
    line-height: 36px;
}

/*已选择*/
.des_select {
    margin: 22px 0 12px;
    font-weight: bold;
    text-indent: 17px;
}

.des_select span {
    color: #0479C9;
}

.shopping_btn, .buy_btn {
    display: inline-block;
    width: 184px;
    height: 48px;
    background: url("../images/icons/buy_btn.png") left top no-repeat;
}

.shop_buy {
    text-align: center;
}

.shop_buy .line {
    width: 1px;
    height: 80px;
    overflow: hidden;
    background-color: #CCC;
    display: inline-block;
    margin: 0 40px;
}

.line, .shopping_btn, .buy_btn {
    vertical-align: middle;
}

.notes {
    color: #CCC;
    text-indent: 17px;
}

/*产品介绍*/
.des_info {
    background-color: #F0F0F0;
}

.des_info .leftArea {
    width: 190px;
}

.des_info .rightArea {
    width: 790px;
}

.recommend {
    border: 1px solid #CCC;
    background-color: #FFF;
    padding-bottom: 15px;
}

.recommend .tit {
    height: 39px;
    border-bottom: 1px solid #CCC;
    line-height: 39px;
    text-indent: 15px;
    font-size: 14px;
    background-color: #F3F3F3;
}

.recommend .item {
    float: none;
    height: auto;
}

.recommend .money {
    padding-top: 5px;
}

.des_infoContent {
    border: 1px solid #CCC;
    background-color: #FFF;
}

.des_tit {
    height: 39px;
    border-bottom: 1px solid #CCC;
    background: url("../images/icons/grayBg.png") left top;
}

.des_tit li {
    float: left;
    width: 50%;
    font: 14px/39px "宋体";
    text-align: center;
    border-left: 1px solid #CCC;
    margin-left: -1px;
}

.des_tit span {
    background: url("../images/icons/comit.png") left center no-repeat;
    padding-left: 32px;
    display: inline-block;
    line-height: 39px;
}

.des_tit .active {
    background-color: #0479ca;
    font-weight: bold;
    color: #fff;
}

.des_tit .active span {
    background: url("../images/icons/info.png") left center no-repeat;
}

.da {
    padding: 30px 0;
    text-align: center;
}

.info_tit {
    height: 26px;
    border-bottom: 1px solid #CCC;
    font-family: "微软雅黑";
    margin-bottom: 18px;
}

.info_tit h3 {
    float: left;
    font-size: 16px;
    color: #2357a5;
    border-bottom: 1px solid #2357a5;
    margin-bottom: -1px;
    height: 26px;
    position: relative;
    padding-right: 8px;
}

.info_tit h4 {
    font-size: 12px;
    line-height: 26px;
    padding-left: 4px;
    color: #656565;
}

.info_text {
    padding: 0 20px;
}

.info_text p {
    line-height: 22px;
    font-size: 14px;
    color: #656565;
}

.center {
    display: block;
    margin: 0 auto;
}

/*商品评价*/
.shopDes_tit {
    line-height: 38px;
    height: 38px;
    font-size: 14px;
    color: #656565;
    padding-left: 10px;
}

.score {
    font-family: "微软雅黑";
    float: left;
    margin-right: 10px;
}

.score_box {
    padding-left: 10px;
    height: 120px;
}

.score em {
    font-size: 18px;
    color: #65657D;
    font-style: normal;
}

.score span {
    font-size: 50px;
    color: #FF8F00;
}

.score_speed {
    float: left;
    width: 450px;
    line-height: 16px;
    font-size: 12px;
    margin-top: 12px;
    position: relative;
}

.score_speed_text {
    overflow: hidden;
    height: 16px;
    color: #FFF;
    background-color: #BDBDBD;
    margin-bottom: 10px;
}

.score_speed_text li {
    float: left;
}

.score_speed_text .speed_01 {
    width: 114px;
    text-indent: 26px;
}

.score_speed_text .speed_02 {
    width: 82px;
}

.score_speed_text .speed_03 {
    width: 76px;
}

.score_speed_text .speed_04 {
    width: 65px;
}

.score_num {
    position: absolute;
    left: 94%;
    top: -21px;
    width: 25px;
    height: 14px;
    background-color: #7F7F7F;
    text-align: center;
    color: #FFF;
}

.score_num i {
    border-width: 4px;
    border-style: solid dashed dashed dashed;
    border-color: #7F7F7F transparent transparent transparent;
    width: 0;
    height: 0;
}

/*满意切换*/

.review_tab {
    height: 32px;
    background-color: #F2F2F2;
}

.review {
    line-height: 32px;
    height: 100%;
    padding-left: 20px;
}

.review li {
    float: left;
    height: 100%;
    margin-right: 40px;
}

.review li a {
    display: inline-block;
    height: 30px;
    padding: 0 5px;
}

.review .active {
    color: #317DE6;
    font-weight: bold;
    border-bottom: 2px solid #317DE6;
}

.review_sort {
    padding: 5px 5px 0 0;
}

.review_sort a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    border: 1px solid #CCC;
    padding-left: 6px;
    padding-right: 20px;
    background: url("../images/icons/blackDown.png") 58px center no-repeat;
}

.review_list {
    padding-top: 18px;
    margin-bottom: 10px;
}

.review_userHead {
    width: 170px;
}

.review_user {
    width: 60px;
    text-align: center;
    margin-left: 40px;
}

.review_user img {
    width: 60px;
    height: 60px;
    display: block;
}

.review_user p {
    line-height: 20px;
    color: #77778c;
}

.review_cont {
    padding-left: 170px;

}

.stars_text {
    font-weight: bold;
    padding-left: 10px;
}

.starsBox .stars {
    margin-top: 3.5px;
}

.review_t {
    height: 24px;
    padding-top: 5px;
}

.review_cont p {
    line-height: 30px;
}

.des_infoContent .page {
    margin-bottom: 20px;
}

.stepBox {
    width: 396px;
    padding-top: 26px;
}

.step {
    height: 19px;
    background: url("../images/step.png") left top no-repeat;
}

.step_text {
    color: #FFF;
    font-size: 12px;
    line-height: 30px;
}

.stepBox {
    margin-left: -20px;
}

.stepBox li {
    float: left;
}

.s01, .s03 {
    width: 30%;
}

.s02 {
    width: 40%;
    text-align: center;

}

.s03 {
    text-align: right;
}

.stepBox .active {
    color: #F3E402;
    font-weight: bold;
}

.shoppingCart {
    padding-top: 10px;
}

.shopping_item {
    border: 1px solid #ccc;
}

.shopping_tit {
    height: 31px;
    line-height: 31px;
    background: url("../images/shopping_bg.png") left top repeat-x;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #444;
    font-weight: normal;
    padding-left: 15px;
}

.padding_shop {
    padding: 25px 30px;
}

.shopping_list_text {
    float: left;
    width: 76px;
    line-height: 24px;
}

.shopping_list li {
    height: 24px;
    margin-bottom: 10px;
}

.shopping_list_text em {
    color: #F30;
    font-style: normal;
    margin-right: 5px;
}

.input {
    height: 22px;
    border: 1px #CCC solid;
    padding: 0 6px;
    width: 110px;
}

.input_b {
    width: 392px;
}

.input_s {
    width: 64px;
}

.input_s2 {
    width: 84px;
}

.reduce {
    margin: 0 1px;
}

.affirm {
    width: 114px;
    height: 28px;
    color: #FFF;
    background: url("../images/bluebg.png") left top repeat-x;
}

.radio {
    position: relative;
    margin-right: 4px;
}

.shopping_list_i {
    width: 26px;
    height: 20px;
    margin-left: 18px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icons/wechatIcon.png") left top repeat-x;
}

.shopping_list p {
    display: inline-block;
    margin-left: 7px;
}

.shopping_list .shopping_list_p02 {
    margin-left: 18px;
}

.shopping_tit {
    border-bottom: 1px solid #e3e3e3;
}

.shopping_tit a {
    float: right;
    font-size: 12px;
    font-family: "宋体";
    margin-right: 33px;
    color: #3377FF;
}

.shopping_tit a:hover {
    text-decoration: underline;
}

.cart_item {
    border-bottom: 1px solid #CCC;
}

.cart_head {
    padding-top: 5px;
}

.cart_head .cart_item {
    line-height: 28px;
    float: left;
}

.t_name {
    width: 440px;
    padding-left: 30px;
}

.t_price {
    width: 134px;
}

.t_return {
    width: 136px;
}

.t_num {
    width: 135px;
}

.t_subtotal {
    width: 123px;
}

.t_red {
    color: red;
}

.cart_cont {
    border-bottom: 12px solid #f1ec96;
    margin-bottom: -27px;
    border-top: 13px solid #f1ec96;
    padding:13px;
}

.cart_cont .cart_item {
    border-bottom: none;
    float: left;
}

.cart_cont .t_price, .cart_cont .t_return, .cart_cont .t_num, .cart_cont .t_subtotal {
    line-height: 26px;
}

.cart_shopInfo {
    margin-bottom: 10px;
}

.cart_shopInfo img {
    width: 90px;
    height: 100px;
    display: block;
    float: left;
}

.cart_shopInfo_cont {
    padding-left: 90px;
    font-size: 12px;
    margin-top: 5px;
}

.cart_link {
    line-height: 37px;
    margin-bottom: 30px;
}

.cart_link a:hover {
    text-decoration: underline;
}

.cart_info {
    color: #000;
}

.cart_message p {
    line-height: 41px;
    text-indent: 30px;
    color: #3377ff;
}

.cart_prompt {
    line-height: 40px;
    padding-left: 30px;
    color: red;
}

.cart_prompt p {
    display: inline-block;
}

.cart_prompt_icon {
    width: 12px;
    height: 12px;
    vertical-align: -2px;
    display: inline-block;
    background: url("../images/icons/!.png") left center no-repeat;
    margin-right: 11px;
}

.cart_rmb p {
    font-size: 14px;
    color: #999;
    font-style: normal;
    display: inline;
}

.cart_rmb {
    margin-bottom: 16px;
}

.cart_rmb span {
    font-size: 24px;
    color: red;
    font-family: Verdana;
    font-weight: bold;
}

.cart_btn {
    width: 165px;
    height: 33px;
    background-color: #E50007;
    font: 18px/33px "微软雅黑";
    color: white;
}

.cart_btnBox {
    text-align: right;
}

/*注册*/
.login_logo .comWidth {
    width: 460px;
}

.login_logo .logo {
    margin-left: 60px;
}

.welcome_title {
    color: white;
    font: 22px/85px "微软雅黑";
    float: left;
}

.regBox {
    width: 458px;
    border: 1px solid #999;
    margin: 10px auto;
}

.loginBox {
    width: 458px;
    border: 1px solid #999;
    margin: 10px auto;
    padding: 15px 40px;
    position: relative;
}

.l_tit {
    color: #666;
    line-height: 20px;
}

.login_cont {
    padding: 15px 76px;
}

.login_input {
    border: 1px solid #999;
    height: 32px;
    line-height: 32px \9;
    text-indent: 5px;
    width: 100%;
}

.user_icon {
    background: url("../images/icons/user_icon.png") right center no-repeat;
}

.mb_10 {
    margin-bottom: 10px;
}

.autoLogin {
    padding-top: 27px;
    padding-bottom: 28px;
}

.checked {
    margin-right: 3px;
}

.login_btn {
    width: 310px;
    height: 36px;
    font: bold 16px "微软雅黑";
    color: #606060;
    background: url("../images/icons/图层-3.png") right center no-repeat;
}

.login_partners {
    padding-top: 34px;
}

.login_list li {
    color: #666;
    float: left;
    line-height: 20px;
}

.login_list span {
    color: #999;
    margin: 0px 2px;
}

.reg_link {
    width: 115px;
    height: 31px;
    background: url("../images/icons/free_signin.png") left top no-repeat;
    position: absolute;
    right: 41px;
    bottom: -32px;
}

.reg_logo .comWidth{
    width: 630px;
}

.regBox {
    width: 628px;
    margin: 10px auto;
    border: 1px solid #CCC;
}

.regBox .reg_btn {
    width: 272px;
    height: 36px;
    background: url("../images/icons/submit_button.png") right top no-repeat;
}

.reg_item {
    font: 14px/34px "宋体";
    width: 110px;
    text-align: right;
    float: left;
}

.reg_item i {
    color: red;
    font-style: normal;
    margin-right: 5px;
}

.input_item {
    width: 306px;
    float: left;
}

.regBox li {
    height: 70px;
}

.login {
    margin-top: 20px;
}

.regBox .autoLogin{
    padding: 0px;
    height: 46px;
}