* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
}

img {
    border: none;
}

li {
    list-style: none;
}

input, select, textarea {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: #656565;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hide {
    display: none;
}

